In [4]:
import pandas as pd

In [5]:
df1 = pd.read_excel('cadastro_itens_teste_questao_2.xlsx')
df2 = pd.read_excel('faturamento_teste_questao_2.xlsx')

In [6]:
df3 = df2.loc[df2['Código do Produto'].isin(df1['Código do Produto']) == False]
df3

   Código do Produto       Quantidade    Valor líquido Data faturamento
7          2210FM253               40          2474.95       09.01.2017
11         260001127                1           889.97       09.01.2017
18         R71000018              900          5999.85       10.02.2017

In [10]:
prod_nao_cadastrado = df3['Código do Produto']
valor_nao_contabilizado = df3['  Valor líquido']
total_nao_contabilizado = sum(df3['  Valor líquido'])
df4 = pd.DataFrame({'Produtos não cadastrados': prod_nao_cadastrado, 'Valor Faturado não contabilizado': valor_nao_contabilizado, 'Total não contabilizado nos meses de Janeiro/Fevereiro': total_nao_contabilizado })
df4

   Produtos não cadastrados  ...  Total não contabilizado nos meses de Janeiro/Fevereiro
7                 2210FM253  ...                                            9364.77
11                260001127  ...                                            9364.77
18                R71000018  ...                                            9364.77

[3 rows x 3 columns]

In [11]:
df4.to_excel('produtos não cadastrados.xlsx')